* {margin:0; padding:0}
a {text-decoration: none; color: #185798;}
body {font: 12px Tahoma;}
#gallery {position:relative; width:686px; margin:20px auto; padding:10px; border:6px solid #fff; background:#AAA;}
#images {border:2px solid #9ac1c9; height:225px; background:#eef5f6; margin-bottom:20px;}
#image {position:relative; width:672px; height:375px; padding:5px; border:2px solid #666; background:#FFF url(images/loading.gif) center center no-repeat;}
#image img {position:absolute; top:5px; left:5px;}
#thumbwrapper {margin-top:10px; padding:5px 0; width:682px; height:100px; border:2px solid #666; background:#FFF;}
#thumbarea {position:relative; overflow:hidden; height:100px; width:682px; }
#thumbs {position:absolute; list-style:none; margin-left:5px; height:100px; width:10000px; border-right:5px solid #FFF;}
#thumbs li {float:left; margin-right:5px; cursor:pointer;}
.imgnav {position:absolute; height:375px; width:20%; z-index:100; height:375px; width:20%; z-index:100; outline:none; cursor:pointer;}
#previmg {left:0; background:url(../images/left.gif) left center no-repeat; border-left:5px solid #FFF;}
#previmg:hover {opacity:1; filter:alpha(opacity=100);}
#nextimg {right:0; background:url(../images/right.gif) right center no-repeat; border-right:5px solid #FFF;}
#nextimg:hover {opacity:1; filter:alpha(opacity=100);}

/* Navbar */
#nav {background: url(../images/sol-bas.png) repeat-x; height: 35px;}
.nav {width: 940px; margin: 0px auto; padding: 10px; color: #fff;}
.nav a {color: #fff; padding: 2px; text-shadow: 1px 1px 3px #000;}
.nav a:hover {background-color:#39C; padding:2px;}

/* Header */
#header {background: url(../images/header.jpg); width: 100%; height: 200px;}
.header {width: 960px; height: 100px; margin: 0px auto;}
.header img {border:none;}

#altAlan {background: url(../images/nav.png); width: 100%; height: 65px; margin-top:1%;}
.altAlan {width: 940px; margin: 0px auto; padding: 20px 10px 0 10px; color:#000;}
.altAlan a {padding: 2px 5px; color:#FFF;}
.altAlan a:hover {background-color:#39c; color: #fff;}